.fab-position {
  position: absolute;
  bottom: 72px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.fab-menu-position {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1000;
}

.button-fab {
    border-radius: 50px;
}