<div class="fab-menu-position">
  @if(fabMenuOpen){
  <div class="fab-position">
    <button
      class="button-fab"
      mat-flat-button
      color="primary"
      (click)="onFabClick(1)"
    >
      <mat-icon>add</mat-icon>
      Top up
    </button>
    <button
      class="button-fab"
      mat-flat-button
      color="primary"
      (click)="onFabClick(2)"
    >
      <mat-icon>send</mat-icon>
      Payment
    </button>
    <button
      class="button-fab"
      mat-flat-button
      color="primary"
      (click)="onFabClick(3)"
    >
      <mat-icon>save_alt</mat-icon>
      Savings
    </button>
  </div>
  }
  <button mat-fab color="primary" (click)="fabMenuOpen = !fabMenuOpen">
    <mat-icon>{{ fabMenuOpen ? "close" : "add" }}</mat-icon>
  </button>
</div>
