<mat-toolbar color="white">
  <span>Dashboard</span>
  <span class="spacer"></span>
  <mat-form-field style="padding-top: 25px; width: 150px">
    <input
      matInput
      [matDatepicker]="picker"
      [value]="selectedDate"
      (dateChange)="onDateChange($event)"
      placeholder="Choose a month"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      startView="year"
      (monthSelected)="setMonthAndYear($event, picker)"
      panelClass="month-picker"
    >
    </mat-datepicker>
  </mat-form-field>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Dashboard menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item aria-label="Category" (click)="addCategory()">
      <mat-icon>label</mat-icon>
      <span>Add category</span>
    </button>
    <button mat-menu-item aria-label="History" routerLink="/history-data">
      <mat-icon>history</mat-icon>
      <span>Report</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="col m-3">
  @if(this.pastMonth){
  <app-balance-card
    title="Overview balance"
    [amount]="financeService.overviewBalance()"
    [dataSource]="[]"
  ></app-balance-card>
  }
  <app-balance-card
    title="Savings"
    [amount]="financeService.savingsTotal()"
    [color]="'green'"
    [dataSource]="financeService.savingsSignal()"
  ></app-balance-card>
  <app-balance-card
    title="Current balance"
    [amount]="financeService.budgetSum()"
    [dataSource]="financeService.budgetArray()"
  ></app-balance-card>
  <app-balance-card
    title="Payments"
    [amount]="financeService.paymentSum()"
    [dataSource]="financeService.paymentArray()"
    [color]="'red'"
  ></app-balance-card>
</div>
<app-fab-menu [selectedDate]="selectedDate"></app-fab-menu>
